@using WAMS.Components.Pages.Modal
@page "/Dashboard/Klasse/{class_id}"
@rendermode InteractiveServer

<header class="navbar navbar-expand-sm bg-dark navbar-dark position-relative">
	<div class="container-fluid">

		<!-- Hamburger Menü für die Handy ansicht-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Zentraler Text -->
		<div class="mx-auto text-center position-absolute start-50 translate-middle-x">
			<span class="navbar-text">Dashboard - Klasse</span>
		</div>

		<!-- Rechtes Bild -->
		<div class="ms-auto dropdown dropstart">
			<a id="profilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG5hENE1xPdNubAgK8NqkYjyemrRzhI_yn7xIW--Qcczwvsb0-OCCNFLVP7g46JZSRSIU&usqp=CAU" alt="Avatar Logo" style="width:40px;height:40px;" class="rounded-pill">
			</a>
			<ul class="dropdown-menu" aria-labelledby="profilDropdown">
				<li role="presentation"><a role="menuitem" tabindex="-1" data-bs-toggle="modal" data-bs-target="#modalProfil">Profil</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Abmelden</a></li>
			</ul>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">

		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
			<div class="position-sticky pt-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<NavLink class="nav-link active" aria-current="page" href="/">
							<img width="24" height="24" src="images/svg/house.svg">
							Home
						</NavLink>
					</li>

					<li class="nav-item">
						<NavLink class="nav-link" href="#">
							<img width="24" height="24" src="images/svg/person-lines-fill.svg">
							Benutzer-Liste
						</NavLink>
					</li>


					<li class="nav-item">
						<a class="nav-link collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
							Klassen
						</a>
						<ul id="menu_item1" class="submenu" data-bs-parent="#nav_accordion">
							<li><NavLink class="nav-link" href="/Dashboard/Klasse/1/">Fia25</NavLink></li>
							<li><NavLink class="nav-link" href="/Dashboard/Klasse/2/">Fia24</NavLink></li>
							<li><NavLink class="nav-link" href="/Dashboard/Klasse/3/">Fia23</NavLink></li>
						</ul>
					</li>


				</ul>
			</div>
		</nav>




		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div class="row">
				<div class="col-md-8 text-center">
					<button type="button" class="btn btn-primary" @onclick="OnClick_lastWeek">
						<img src="images/svg/arrow-left.svg">
					</button>
					KW @selected_Week
					<button type="button" class="btn btn-primary" @onclick="OnClick_nextWeek">
						<img src="images/svg/arrow-right.svg">
					</button>

					<div style="">kalender</div>

				</div>
				<div class="col-md-4">
					<table id="example" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Schüler</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Max retert</td>
							</tr>
							<tr>
								<td>Max retert</td>
							</tr>
						</tbody>
					</table>

					<script>
						window.addEventListener('load', (event) => {
							$('#example').DataTable({

							});
						});

					</script>
				</div>
			</div>
		</main>


	</div>
</div>





<!-- Modal -->
<Modal_Profil/>

@code {
	[Parameter]
	public string class_id { get; set; }

	int selected_Week = 0;


	private void OnClick_nextWeek()
	{
		selected_Week++;
	}

	private void OnClick_lastWeek()
	{
		selected_Week--;
	}
}
