@using WAMS.Components.Pages.Modal
@page "/Dashboard/Klasse/{class_id}"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<header class="navbar navbar-expand-sm bg-dark navbar-dark position-relative">
	<div class="container-fluid">

		<!-- Hamburger Menü für die Handy ansicht-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Zentraler Text -->
		<div class="mx-auto text-center position-absolute start-50 translate-middle-x">
			<span class="navbar-text">Dashboard - Klasse</span>
		</div>

		<!-- Rechtes Bild -->
		<div class="ms-auto dropdown dropstart">
			<a id="profilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG5hENE1xPdNubAgK8NqkYjyemrRzhI_yn7xIW--Qcczwvsb0-OCCNFLVP7g46JZSRSIU&usqp=CAU" alt="Avatar Logo" style="width:40px;height:40px;" class="rounded-pill">
			</a>
			<ul class="dropdown-menu" aria-labelledby="profilDropdown">
				<li role="presentation"><a role="menuitem" tabindex="-1" data-bs-toggle="modal" data-bs-target="#modalProfil">Profil</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Abmelden</a></li>
			</ul>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
			<div class="position-sticky pt-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<NavLink class="nav-link active" aria-current="page" href="/">
							<img width="24" height="24" src="images/svg/house.svg">
							Home
						</NavLink>
					</li>

					<li class="nav-item">
                        <NavLink class="nav-link" href="/Dashboard/Benutzer">
							<img width="24" height="24" src="images/svg/person-lines-fill.svg">
							Benutzer-Liste
						</NavLink>
					</li>


					<li class="nav-item">
						<a class="nav-link collapsed dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text" aria-hidden="true"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
							Klassen
						</a>
						<ul id="menu_item1" class="submenu" data-bs-parent="#nav_accordion">
							<li><NavLink class="nav-link" href="/Dashboard/Klasse/1/">Fia25</NavLink></li>
							<li><NavLink class="nav-link" href="/Dashboard/Klasse/2/">Fia24</NavLink></li>
							<li><NavLink class="nav-link" href="/Dashboard/Klasse/3/">Fia23</NavLink></li>
						</ul>
					</li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Dashboard/Settings">
                            <img width="24" height="24" src="images/svg/gear-fill.svg">
                            Einstellungen
                        </NavLink>
                    </li>

				</ul>
			</div>
		</nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
			<div class="row">
				<div class="col-md-8 text-center">
					<button type="button" class="btn btn-primary" @onclick="OnClick_lastWeek">
						<img src="images/svg/arrow-left.svg">
					</button>
					KW @selected_Week
					<button type="button" class="btn btn-primary" @onclick="OnClick_nextWeek">
						<img src="images/svg/arrow-right.svg">
					</button>
                    <div class="pt-3 table-responsive">

  <style>
    /* CSS nur für die Tabelle mit der ID 'stundenplan' */
    #stundenplan {
      width: 100%;
      border-collapse: collapse;
    }
    #stundenplan th, #stundenplan td {
      border: 1px solid #444;
      text-align: center;
      padding: 10px;
    }
    #stundenplan th {
      background-color: #333;
      color: white;
    }
    #stundenplan .zeit-slot {
      width: 80px;
    }
    #stundenplan .block {
      height: 100px;
    }
    /* Farbschemata für verschiedene Aktivitäten */
    #stundenplan .aktivität-grün {
      background-color: #98FB98;
    }
    #stundenplan .aktivität-rot {
      background-color: #FF7F7F;
    }
    #stundenplan .aktivität-rosa {
      background-color: #FFC0CB;
    }
    #stundenplan .aktivität-lila {
      background-color: #DDA0DD;
    }
    #stundenplan .aktivität-blau {
      background-color: #ADD8E6;
    }
    /* Mehrzeilige Zellen */
    #stundenplan .rowspan-2 {
      height: 200px;
    }
    /* Pausen mit unterschiedlichen Höhen */
    #stundenplan .pause-klein {
      height: 20px;
    }
    #stundenplan .pause-mittel {
      height: 40px;
    }
    #stundenplan .pause-groß {
      height: 60px;
    }
  </style>


  <table id="stundenplan" class="table">
    <tr>
      <th class="zeit-slot">Uhrzeit</th>
      <th>Montag (9)</th>
      <th>Dienstag (10)</th>
      <th>Mittwoch (11)</th>
      <th>Donnerstag (12)</th>
      <th>Freitag (13)</th>
    </tr>

    <!-- 1. Block: 8:00 - 9:30 -->
    <tr>
      <td rowspan="2">8:00 - 9:30</td>
      <td rowspan="2" class="aktivität-grün"><strong>GESS/NN</strong></td>
      <td class="aktivität-blau"><strong>H1AEMax</strong></td>
      <td class="aktivität-blau"><strong>H1AEMax</strong></td>
      <td class="aktivität-rot"><strong>POWI</strong></td>
      <td class="aktivität-lila"><strong>LASS</strong></td>
    </tr>
    <tr>

      <td>9:30</td>
      <td>9:30</td>
      <td>9:30</td>
      <td>9:30</td>
    </tr>

    <!-- Pause 1 : 9:30 - 9:45  -->
    <tr class="pause-klein">
      <td colspan="6"></td> 
    </tr>

    <!-- 2. Block: 9:45 - 11:15 -->
    <tr>
      <td rowspan="2">9:45 - 11:15</td>
      <td class="aktivität-blau"><strong>GESS/H1AEMax</strong></td>
      <td class="aktivität-lila"><strong>HL2</strong></td>
      <td class="aktivität-blau"><strong>H1AEMax</strong></td>
      <td class="aktivität-rosa"><strong>12Fla</strong></td>
      <td class="aktivität-lila"><strong>12Fla</strong></td>
    </tr>
    <tr>
      <td>11:15</td>
      <td>11:15</td>
      <td>11:15</td>
      <td>11:15</td>
      <td>11:15</td>
    </tr>
     
    <!-- Pause 2 : 11:15 - 11:30  -->
    <tr class="pause-klein">
      <td colspan="6"></td> 
    </tr>

    <!-- 3. Block: 11:30 - 13:00 -->
    <tr>
      <td rowspan="2">11:30 - 13:00</td>
      <td class="aktivität-blau"><strong>LF10</strong></td>
      <td class="aktivität-blau"><strong>H1AEMax</strong></td>
      <td class="aktivität-lila"><strong>12Fla</strong></td>
      <td class="aktivität-blau"><strong>LF12</strong></td>
      <td class="aktivität-grün"><strong>Herr G.</strong></td>
    </tr>
    <tr>
      <td>13:00</td>
      <td>13:00</td>
      <td>13:00</td>
      <td>13:00</td>
      <td>13:00</td>
    </tr>

    <!-- Pause 3 : 13:00 - 13:30  -->
    <tr class="pause-mittel">
      <td colspan="6"></td> 
    </tr>

    <!-- 4. Block: 13:30 - 15:00 -->
    <tr>
      <td rowspan="2">13:30 - 15:00</td>
      <td class="aktivität-grün"><strong>SMT/GR</strong></td>
      <td class="aktivität-lila"><strong>CISCO</strong></td>
      <td class="aktivität-rot"><strong>BOLL</strong></td>
      <td class="aktivität-rot"><strong>BOLL</strong></td>
      <td class="aktivität-blau"><strong>12Fla</strong></td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>15:00</td>
      <td>15:00</td>
      <td>15:00</td>
      <td>15:00</td>
    </tr>

   <!-- Pause 4 : 15:00 - 15:15  -->
    <tr class="pause-klein">
      <td colspan="6"></td> 
    </tr>

    <!-- 5. Block: 15:15 - 16:45 -->
    <tr>
      <td rowspan="2">13:30 - 15:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <!-- Pause 5 : 17:30 - 19:00  -->
    <tr class="pause-mittel">
      <td colspan="6"></td> 
    </tr>

    <!-- 6. Block - Abendschule: 17:30 - 19:00 -->
    <tr>
      <td rowspan="2">17:30 - 19:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <!-- Pause 6 : 19:00 - 19:15  -->
    <tr class="pause-klein">
      <td colspan="6"></td> 
    </tr>

    <!-- 7. Block - Abendschule: 19:15 - 20:45 -->
    <tr>
      <td rowspan="2">19:15 - 20:45</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>


					</div>

				</div>
				<div class="col-md-4">
                    <table id="DB_user_list2" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Schüler</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Max retert</td>
							</tr>
							<tr>
								<td>Max retert</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>


	</div>
</div>





<!-- Modal -->
<Modal_Profil/>

@code {
	[Parameter]
	public string class_id { get; set; }
	int selected_Week = 0;


	private void OnClick_nextWeek()
	{
		selected_Week++;
	}

	private void OnClick_lastWeek()
	{
		selected_Week--;
	}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            Console.WriteLine("OnAfterRenderAsync called for the first render.");
            await JSRuntime.InvokeVoidAsync("logToConsole", "test");
            await JSRuntime.InvokeVoidAsync("initializeDataTable2");
        }
    }
}
