@using WAMS.Backend.Constants
﻿@using WAMS.Components.Pages.Modal
@using WAMS.Backend.Model.ViewModels
@using Microsoft.AspNetCore.Authentication
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = UserPolicy.USER)]
@page "/" 

<AuthorizeView>
	<NotAuthorized>
		<h6>NotAuthorized</h6>
	</NotAuthorized>
	<Authorized>
		<h6>Authorized</h6>
	</Authorized>
</AuthorizeView>

<header class="navbar navbar-expand-sm bg-dark navbar-dark position-relative">
	<div class="container-fluid">

		<!-- Zentraler Text -->
		<div class="mx-auto text-center position-absolute start-50 translate-middle-x">
			<span class="navbar-text">Dashboard - Klasse</span>
		</div>

		<!-- Rechtes Bild -->
		<div class="ms-auto dropdown dropstart">
			<a id="profilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG5hENE1xPdNubAgK8NqkYjyemrRzhI_yn7xIW--Qcczwvsb0-OCCNFLVP7g46JZSRSIU&usqp=CAU" alt="Avatar Logo" style="width:40px;height:40px;" class="rounded-pill">
			</a>
			<ul class="dropdown-menu" aria-labelledby="profilDropdown">
				<li role="presentation"><a role="menuitem" tabindex="-1" data-bs-toggle="modal" data-bs-target="#modalProfil">Profil</a></li>
				<AuthorizeView Policy="@UserPolicy.TEACHER">
					<Authorized>
						<li role="presentation"><a role="menuitem" tabindex="-1" >Dashboard</a></li>
					</Authorized>
				</AuthorizeView>
				<AuthorizeView Policy="@UserPolicy.ADMIN">
					<Authorized>
						<li role="presentation"><a role="menuitem" tabindex="-1">Dashboard</a></li>
					</Authorized>
				</AuthorizeView>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#" @onclick="OnClick_Logout">Abmelden</a></li>
			</ul>
		</div>
	</div>
</header>

<main class="col-md-12 ms-sm-auto col-lg-10 px-md-4">
	<div class="row">
		<div class="col-md-4 text-center">
			<button type="button" class="btn btn-primary" @onclick="OnClick_2OG">2. OG</button><br>
			<button type="button" class="btn btn-primary" @onclick="OnClick_1OG">1. OG</button><br>
			<button type="button" class="btn btn-primary" @onclick="OnClick_EG">EG</button><br>
			<button type="button" class="btn btn-primary" @onclick="OnClick_Keller">Keller</button><br>

			<button type="button" class="btn btn-primary">Custom grund</button>
		</div>
		<div class="col-md-8">
			wer
		</div>
	</div>
</main>

<!-- Modal -->
<Modal_Profil />

@code {

	private void OnClick_2OG()
	{
		Console.WriteLine("OnClick_2OG");
	}

	private void OnClick_1OG()
	{
		Console.WriteLine("OnClick_1OG");
	}

	private void OnClick_EG()
	{
		Console.WriteLine("OnClick_EG");
	}

	private void OnClick_Keller()
	{
		Console.WriteLine("OnClick_Keller");
	}

	private void OnClick_Logout()
	{
		NavigationManager.NavigateTo("/logout");
	}
}