@page "/404"

<h3>Seite nicht gefunden</h3>
<p>Die Seite, die Sie suchen, existiert nicht. Überprüfen Sie bitte die URL oder kehren Sie zur Startseite zurück.</p>

<a href="/">Zurück zur Startseite</a>